@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(90deg, #09080E, #1D1357);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    border-radius: 8px;
}

h1, h2{
    font-weight: 500;
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

.addTarefa {
    display: inline-flex;
    align-items: stretch;
}

.addTarefa input {
    padding: 4px;
    outline: none;
    font-size: 1.1rem;
    width: 90%;
    border: 1px solid #CCC;
    border-radius: 5px;
}

.addTarefa input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.addTarefa button{
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 3px;
}

h2.subTitulo {
    margin-top: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
}

h2.subTitulo:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

h2.subTitulo span {
    background: #fff;
    padding: 0 15px;
}

.itemLst {
    background-color: #efefef;
    border-radius: 4px;
    padding: 4px;
    margin: 3px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
  
input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    width: 420px;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    border: solid 2px;
    vertical-align: bottom;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 10px;
    height: 20px;
    border-right: solid 3px blue;
    border-bottom: solid 3px blue;
    transform: rotate(45deg);
}

#btExcluir {
    cursor: pointer;
    background-color: #efefef;
    border-radius: 5px;
    
}

ion-icon {
    font-size: 32px;
    --ionicon-stroke-width: 30px;
}

